{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Ibrahim Salih</title>
</head>
<body>
    

    <!-------------------Section-1---------------------->
    <section class="main">
        <div>
            <h2>{{portfolio.welcome|title}}<br><span>{{portfolio.job_title|title}}</span></h2>
            <h3>{{portfolio.job_description}}</h3>
            <a href="#projects" class="main-btn">{{portfolio.btn_name}}</a>
            
            <div class="social-icons">
                {% for x in link %}
                    {% if x.name_social_media == 'Instagram' %}
                        <a href="{{x.social_link}}"><i class="fa-brands fa-instagram"></i></a>
                    {% elif x.name_social_media == 'Linkedin'%}
                        <a href="{{x.social_link}}"><i class="fa-brands fa-linkedin"></i></a>
                    {% elif x.name_social_media == 'GitHub'%}
                        <a href="{{x.social_link}}"><i class="fa-brands fa-github"></i></a>
                    {% endif %}
                {% endfor %}
            </div>
         
        </div>
        <div class="code-logo">
            
            <a href="#"><i class="{{portfolio.main_logo}}"></i></a>
        </div>
    
    </section>
    <!-------------------EndSection-1------------------->


    <!-------------------Section-2-Service---------------------->

    <section class="cards" id="services">
        <h2 class="title">{{portfolio.main_title_service|upper}}</h2>
        <div class="content">
                {% for services in services %}
                    <div class="card">
        
                        <div class="icon"><i class="{{services.icon}}"></i></div>
                        <div class="info">
                         <h3>{{services.service_title}}</h3>
                        <p>{{services.service_description}}</p>
                        </div>
                    
                    </div>
                {% endfor services %}
          
        </div>
    </section>
    <!-------------------EndSection-2---------------------->

    <!-------------------Section-3-Projects---------------------->


    <section class="projects" id="projects">
        <h2 class="title">{{portfolio.main_project_title|upper}}</h2>
        <div class="content">
            {% for pro in projects %}
            <div class="project-card">
                <div class="project-image">
                    <img src="{{pro.project_img.url}}" alt="1-image" width="250" height="250">
                </div>
                <div class="project-info">
                    <p class="project-category">{{pro.project_description}}</p>
                    <p style="text-align: right; color: brown;" class="project-category">{{pro.publication_date}}</p>
                    <strong class="project-title">
                        <span>{{pro.project_title}}</span>
                        <a href="{{pro.project_details_link}}" class="more-details">More details</a>
                    </strong>
                </div>
            </div>
            {% endfor %}
            
        </div>

    </section>
    <!-------------------EndSection-3---------------------->

    <!-------------------Section-4---------------------->

    <section class="cards contact" id="contact">
        <h2 class="title">{{portfolio.main_title_contact|upper}}</h2>
            <div class="content">

                <div class="card">
                    <div class="icon"><i class="fa-solid fa-phone"></i></div>
                    <div class="info">
                        <h3>Phone</h3>
                        <p>{{portfolio.contact_phone}}</p>
                    </div>
                </div>
            
                <div class="card">
                    <div class="icon"><i class="fa-solid fa-envelope"></i></div>
                    <div class="info">
                        <h3>Email</h3>
                        <p>{{portfolio.contact_email}}</p>
                    </div>
                </div>
            </div>
    </section>
    <!-------------------EndSection-4---------------------->

</body>
</html>
{% endblock content %}