@media (max-width: 1032px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main .code-logo a{
        font-size: 15em;
    }
    .main  h2{
        font-size: 1em;
    }
    .main h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:641px){
    body{
        font-size: 12px;
    }
    .main .code-logo a{
        font-size: 15em;
    }
    .navigation a{
        padding-left: 8px;
    }
    .main h2{
        font-size: 0.8em;
    }
    .main h3{
        font-size: 1.4em;
    }
    .main-btn {
        font-size: 1em;
    }
    .social-icons a {
        padding-right: 20px;
    }
    .footer-title {
        font-size: 1em;
    }
}
@media (max-width:300px){
    body{
        font-size: 10px;
    }


}