    <!-------------------footer---------------------->
    <footer class="footer">
        <p class="footer-title"> Copyrights @ <span>{{portfolio.copyright|title}}</span></p>
        <div class="social-icons">
            {% for x in link %}
                {% if x.name_social_media == 'Instagram' %}
                    <a href="{{x.social_link}}"><i class="fa-brands fa-instagram"></i></a>
                {% elif x.name_social_media == 'Linkedin'%}
                    <a href="{{x.social_link}}"><i class="fa-brands fa-linkedin"></i></a>
                {% elif x.name_social_media == 'GitHub'%}
                    <a href="{{x.social_link}}"><i class="fa-brands fa-github"></i></a>
                {% endif %}
            {% endfor %}
        </div>
    </footer>
    <!-------------------Endfooter---------------------->